# Project related
.vscode/
.bkp/
.idea/
*.mp3
!audio-files/bonus.mp3
!audio-files/test1.mp3
!audio-files/test2.mp3
!audio-files/test3.mp3

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Other Node related
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity